*{
	margin: 0;
	padding: 0;
}
.navbar{
	background:linear-gradient(#730099,#000);	
	padding:0 !important;
}
.navbar-toggle{
	outline:none;
}

/*---------------------Banner Section ---------------*/

#banner
{
	background:linear-gradient(#730099,#000);
	color: #fff;
	padding-top:5%;
}
.bannertitle{
	font-size: 30px;
	font-weight: 600;
	margin-top: 100px;
	text-align: center;

}
.bannertitlep{
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}
.bottom-img{
	width: 100%;
	

}

.btn-primary{
	box-shadow: none;
	padding: 8px 25px;
	border:none;
	border-radius: 20px;
	background:linear-gradient(#e699ff,#000);

}
.title{
	margin:auto;
	padding-top:50px;
	padding-bottom: 10px;
	font-size: 35px;
	color:#730099;
	font-weight: bold;
	position: relative;
}
.title::before
{
	content: '';
	width:50px;
	height:35px;
	background: linear-gradient(#730099,#fff) ;
	position: absolute;
	margin-top:-15px;
	z-index:-1;
	transform: rotate(10deg);
	border-top-left-radius:45px;
	border-bottom-right-radius:45px;
}
/*-----------------about-us--------------*/
.title-1{
	margin:auto;
	padding-top:20px;
	color:#730099;
	text-align:center;
	font-weight: bold;
	position: relative;
	font-style: italic;
}
.title-1::before{
	content: '';
	background: #730099;
	height:3px;
	width:150px;
	margin-left:auto;
	margin-right:auto;
	display: block;
	transform: translateY(30px);
}
.about-para{
	padding-top:20px;
	padding-bottom:20px;
	margin: auto;
	font-size: 20px;
	text-align: left;
	color: #4d0066;
}
/*-------------------CONTACT--------------------*/
.about-para1{
	padding-top:20px;
	padding-bottom:20px;
	padding-bottom: 5px;
	margin: auto;
	font-size: 20px;
	text-align:left;
	color: #4d0066;

}
.about-para2{
	padding-top:20px;
	padding-bottom:40px;
	margin: auto;
	font-size:20px;
	text-align:right;
	color: #4d0066;

}
.about-para3{
	padding-top:10px;
	padding-bottom: 10px;
	font-size:15px;
	text-align: center;
	color:#fff;
	background:linear-gradient(#730099,#000);

}